@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.continer {
    display: flex;
    height: 130vh;
    background-image: linear-gradient(rgba(49, 46, 43, 0.7), rgba(59, 57, 54, 0.7)), url(../img/worker.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 80px;
    padding-left: 80px;
    padding-right: 90px;
    padding-top: 30px;
    width: 1800px;
    height: 80px;
    top: -34px;
    right: -10px;
    position: fixed;
    margin: 2% auto;

    background: rgba(0, 0, 0, 0.4);
    padding: 15px;
    overflow: hidden;
    font-weight: bold;
}

nav {
    flex: 1;
    text-align: right;

}

nav ul {
    display: inline-block;
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-right: 90px;

}

nav ul li a {
    text-decoration: none;
    font-size: 25px;
    color: white;
    font-weight: bold;

}

nav ul li button {
    font-size: 25px;
    color: white;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: bold;

}


nav ul li button:hover {
    color: rgb(0, 0, 0);
    border-radius: 30px;
    background-color: #bc6202;

}

nav ul li a:hover {
    color: black;
    align-content: first baseline;
    border-radius: 30px;
    background-color: #bc6202;
}

.box {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 1300px;
    width: 480px;
    background-color: rgb(255, 220, 220, 0.4);
    border-radius: 30px;
    -webkit-backdrop-filte: blur(3px);
    backdrop-filter: blur(3px);
    overflow: hidden;
    border: 3px solid rgb(255, 220, 220, 0.4);
    top: 170px;
}

.box-login {
    position: absolute;
    width: 100%;

    transition: .5s ease-in-out;
    top: 50px;
}

.box-register {
    position: absolute;
    transition: .5s ease-in-out;
    right: -500px;
    top: 50px;
    width: 100%;
    height: 100%;
}

.top-header {
    text-align: center;
    margin: 70px 0;
}

.top-header h3 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 0px;
    /* text-shadow: 7px 7px 7px black;*/
    font-family: 'Courier New', Courier, monospace;
}

.top-header small {
    font-size: 23px;
    /*text-shadow: 5px 5px 5px black;*/
    font-family: 'Courier New', Courier, monospace;
}

.input-groub {
    width: 100%;

}

.input-groub2 {
    width: 100%;

}


.input-field {
    margin: 25px 0;
    position: relative;
    padding-top: 5px;

}

.input-field2 {
    margin: 2px -85px 0 0px;
    position: relative;
    padding-top: 10px;

}

.input-field-left {
    margin: 2px -100px 0 0px;
    position: relative;
    padding-top: 10px;

}

.input-box {
    width: 390px;
    height: 50px;
    font-size: 27px;
    color: black;
    border-radius: 10px;
    border: none;
    padding: 7px 45px 0 20px;
    border-radius: 10px;
    background: rgba(224, 223, 223, 0.6);
    backdrop-filter: plur(2px);
    outline: none;

}

.input-box2 {
    width: 220px;
    height: 50px;
    font-size: 27px;
    color: black;
    border-radius: 10px;
    border: none;
    padding: 0px 7px 0 0px;
    border-radius: 10px;
    background: rgba(224, 223, 223, 0.6);
    backdrop-filter: plur(2px);
    outline: none;

}

.input-box3 {
    width: 460px;
    height: 50px;
    font-size: 27px;
    color: black;
    border-radius: 10px;
    border: none;
    padding: 0px 7px 0 0px;
    border-radius: 10px;
    background: rgba(224, 223, 223, 0.6);
    backdrop-filter: plur(2px);
    outline: none;
    margin-right: 5px;
}

.input-box2-right {
    width: 220px;
    height: 50px;
    font-size: 27px;
    color: black;
    border-radius: 10px;
    border: none;
    padding: 0px 7px 0 0px;
    border-radius: 10px;
    background: rgba(224, 223, 223, 0.6);
    backdrop-filter: plur(2px);
    outline: none;
    margin-right: 45px;
}

.input-box2-left {
    width: 220px;
    height: 50px;
    font-size: 27px;
    color: black;
    border-radius: 10px;
    border: none;
    padding: 0px 7px 0 0px;
    border-radius: 10px;
    background: rgba(224, 223, 223, 0.6);
    backdrop-filter: plur(2px);
    outline: none;
    margin-right: 53px;
}

.input-groub label {
    position: absolute;
    left: 135px;
    top: 12px;
    font-size: 25px;
    transition: .3s ease-in-out;
    width: 400px;
}

.input-box:focus~label,
.input-box:valid~label {
    top: -18px;
    font-size: 14px;
    color: #000000;
    font-weight: 500px;
    right: -130px;
}

.note label {
    top: 595px;
    right: -13px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.select .remember {
    display: flex;
    font-size: 66px;
    color: #fa1c1c;
    margin: 12px 0 30px 0;
}

.check {
    width: 15px;
    margin-right: -360px;
    margin-top: 20px;

}

.check-box {
    margin: 10px 80px 56px 26px;
    font-size: 30px;
    font-weight: bold;

}

.input-submit {
    width: 80%;
    height: 50px;
    font-size: 29px;
    font-weight: bold;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    background: #bc6202;
    color: #000000;
    box-shadow: 0px 4px 20px rgba(62, 9, 9, 0.145);
    cursor: pointer;
    transition: .4s;
}

.input-submit2 {
    width: 80%;
    height: 50px;
    font-size: 29px;
    font-weight: bold;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    background: #bc6202;
    color: #000000;
    box-shadow: 0px 4px 20px rgba(62, 9, 9, 0.145);
    cursor: pointer;
    transition: .4s;
}

.gender-option {
    display: flex;
    column-gap: 70px;
}

.input-submit:hover {
    background: #db3e00;
    box-shadow: 0px 4px 20px rgba(62, 9, 9, 0.32);
}

.forget {
    text-align: center;
    font-size: 15px;
    font: 500;
    margin-top: 30px;
    font-weight: bold;
}

.forget a {
    text-decoration: none;
    color: #000;
}

.switch {
    display: flex;
    position: absolute;
    bottom: 93%;
    left: 25px;
    width: 85%;
    height: 50px;
    background: rgba(255, 255, 255, 0.16);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(221, 11, 11, 0);
    overflow: hidden;
}

.switch a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
    color: #000;
    text-decoration: none;
    width: 50%;
    border-radius: 10px;
    z-index: 10;
}

#btn {
    position: absolute;
    bottom: 0;
    left: 205px;
    width: 200px;
    height: 50px;
    background: #bc6202;
    border-radius: 10px;
    box-shadow: 2px 0px 12px rgba(0, 0, 0, 0.1);
    transition: .5s ease-in-out;
}



.container {
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.container .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.container .title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.content form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details .input-box {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

form .input-box span.details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
    border-color: #9b59b6;
}

form .gender-details .gender-title {
    font-size: 20px;
    font-weight: 500;
}

form .category {
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;
}

form .category label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

form .category label .dot {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-right: 10px;
    background: #d9d9d9;
    border: 5px solid transparent;
    transition: all 0.3s ease;
}

#dot-1:checked~.category label .one,
#dot-2:checked~.category label .two,
#dot-3:checked~.category label .three {
    background: #9b59b6;
    border-color: #d9d9d9;
}

form input[type="radio"] {
    display: none;
}

form .button {
    height: 45px;
    margin: 35px 0
}

form .button input {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

form .button input:hover {
    /* transform: scale(0.99); */
    background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}

@media(max-width: 584px) {
    .container {
        max-width: 100%;
    }

    form .user-details .input-box {
        margin-bottom: 15px;
        width: 100%;
    }

    form .category {
        width: 100%;
    }

    .content form .user-details {
        max-height: 300px;
        overflow-y: scroll;
    }

    .user-details::-webkit-scrollbar {
        width: 5px;
    }
}

@media(max-width: 459px) {
    .container .content .category {
        flex-direction: column;
    }
}


.form .input-box {
    width: 100%;
    margin-top: 20px;
}

.input-box label {
    color: #333;
}

.form :where(.input-box input, .select-box) {
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
}

.input-box input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.form .column {
    display: flex;
    column-gap: 15px;
}

.gender-box {
    display: inline-flex;
    margin-left: 230px;

    margin-top: 20px;
}

.gender-box h3 {
    color: #333;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 8px;
}

.form :where(.gender-option, .gender) {
    display: flex;
    align-items: center;
    column-gap: 50px;
    flex-wrap: wrap;
}

.form .gender {
    column-gap: 5px;
}

.gender input {
    accent-color: rgb(130, 106, 251);
}

.form :where(.gender input, .gender label) {
    cursor: pointer;
}

.gender label {
    color: #000000;
    font-size: 30px;
}

.address :where(input, .select-box) {
    margin-top: 15px;
}

.select-box select {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    color: #707070;
    font-size: 1rem;
}

.form button {
    height: 55px;
    width: 100%;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 30px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
    background: rgb(130, 106, 251);
}

.form button:hover {
    background: rgb(88, 56, 250);
}

/*Responsive*/
@media screen and (max-width: 500px) {
    .form .column {
        flex-wrap: wrap;
    }

    .form :where(.gender-option, .gender) {
        row-gap: 15px;
    }
}